In [1]:
import api_wrapper as api
import os
import pandas as pd

### 1. Set the `BEARER_TOKEN` variable to your developer bearer token.

In [2]:
token = pd.read_csv("/Users/dankoban/Documents/EM6586_DB_Management/bearer_token.csv")
os.environ["BEARER_TOKEN"] = token['token'][0]

### 2. Query user profile info

In [3]:
usernames = ['CASCOM_CG', 'kobo6992']
user_info = api.get_users(usernames=usernames)
user_info

,user_id,username,name,description,location,created_at,followers_count,following_count,tweet_count,listed_count
0,1247912673322381312,CASCOM_CG,MG Rodney Fogg,Commanding General of Combined Arms Support Co...,"Fort Lee, VA",2020-04-08T15:42:51.000Z,2425.0,610.0,2745.0,16.0
1,3039220281,kobo6992,Dan Koban,Doctoral student at George Washington University,NaN,2015-02-15T16:03:19.000Z,2.0,32.0,3.0,0.0

### 3. Query user activity

In [4]:
activity = api.get_user_activity(usernames=usernames, record_count = 200)
print(len(activity))
activity.head()

token: 7140dibdnow9c7btw3w3j65ioqse605q5ljxyhtg4659u
token: 7140dibdnow9c7btw3w340iofxa84xkp1uc3c4ir2izp3
203

,author_id,lang,public_metrics,referenced_tweets,id,entities,conversation_id,created_at,text,in_reply_to_user_id
0,1247912673322381312,en,"{'retweet_count': 76, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1368242260354154...",1368876193458556929,"{'annotations': [{'start': 133, 'end': 137, 'p...",1368876193458556929,2021-03-08T10:48:11.000Z,RT @Martin_Dempsey: “To be yourself in a world...,NaN
1,1247912673322381312,en,"{'retweet_count': 2, 'reply_count': 1, 'like_c...","[{'type': 'quoted', 'id': '1368723829367992329'}]",1368874231245733891,"{'urls': [{'start': 75, 'end': 98, 'url': 'htt...",1368874231245733891,2021-03-08T10:40:23.000Z,"Integrity! He stood up, made the right decisio...",NaN
2,1247912673322381312,en,"{'retweet_count': 3, 'reply_count': 0, 'like_c...","[{'type': 'quoted', 'id': '1368634050269700097'}]",1368864978858614784,"{'urls': [{'start': 61, 'end': 84, 'url': 'htt...",1368864978858614784,2021-03-08T10:03:37.000Z,#WomensHistoryMonth Demonstrating the example ...,NaN
3,1247912673322381312,en,"{'retweet_count': 11, 'reply_count': 1, 'like_...","[{'type': 'quoted', 'id': '1367225476268367874'}]",1367529603825303553,"{'urls': [{'start': 53, 'end': 76, 'url': 'htt...",1367529603825303553,2021-03-04T17:37:19.000Z,Great leader - great logistics officer! Many ...,NaN
4,1247912673322381312,en,"{'retweet_count': 12, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1367482582267527...",1367496081647558658,"{'hashtags': [{'start': 29, 'end': 47, 'tag': ...",1367496081647558658,2021-03-04T15:24:07.000Z,RT @csaSoldier4Life: In this #ThrowbackThursda...,NaN

### 4. Extract edge lists

In [5]:
el = api.extract_el(activity)
el['edge_type'].value_counts()

mention    375
url        132
hashtag     61
Name: edge_type, dtype: int64

In [7]:
el.head()

,author_id,status_id,hashtag,edge_type,mentioned_user,url
0,1247912673322381312,1368864978858614784,WomensHistoryMonth,hashtag,NaN,NaN
1,1247912673322381312,1367496081647558658,ThrowbackThursday,hashtag,NaN,NaN
2,1247912673322381312,1367496081647558658,SoldierForLifePodcast,hashtag,NaN,NaN
3,1247912673322381312,1367496081647558658,WomensHistoryMonth,hashtag,NaN,NaN
4,1247912673322381312,1367495589429202957,doctrine,hashtag,NaN,NaN